<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>400-631-8388</string>
				<key>number</key>
				<string>30288063886</string>
				<key>type</key>
				<string>ARAMEX</string>
				<key>name</key>
				<string>Aramex</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-6100-400</string>
				<key>number</key>
				<string>131685763</string>
				<key>type</key>
				<string>AAEWEB</string>
				<key>name</key>
				<string>AAE</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>021-54224681</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>ANXINDA</string>
				<key>name</key>
				<string>安信达</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-619-7776</string>
				<key>number</key>
				<string>AJ80862351</string>
				<key>type</key>
				<string>ANJELEX</string>
				<key>name</key>
				<string>安捷</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>400-706-0609</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>EES</string>
				<key>name</key>
				<string>百福东方</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>0064-09-2759536</string>
				<key>number</key>
				<string>100001362043</string>
				<key>type</key>
				<string>FLYWAYEX</string>
				<key>name</key>
				<string>程光</string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>95353</string>
				<key>number</key>
				<string>5120886856</string>
				<key>type</key>
				<string>DEPPON</string>
				<key>name</key>
				<string>德邦</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>0755-88297707</string>
				<key>number</key>
				<string>100001362043</string>
				<key>type</key>
				<string>DPEX</string>
				<key>name</key>
				<string>DPEX</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-626-1166</string>
				<key>number</key>
				<string>100001362043</string>
				<key>type</key>
				<string>DTW</string>
				<key>name</key>
				<string>大田</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>0531-88636363</string>
				<key>number</key>
				<string>316J103367777</string>
				<key>type</key>
				<string>DEXP</string>
				<key>name</key>
				<string>D速</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-810-8000</string>
				<key>number</key>
				<string>5018479071</string>
				<key>type</key>
				<string>DHL</string>
				<key>name</key>
				<string>DHL</string>
			</dict>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>40080-11183</string>
				<key>number</key>
				<string>1082490090717</string>
				<key>type</key>
				<string>EMS</string>
				<key>name</key>
				<string>EMS</string>
			</dict>
		</array>
		<key>title</key>
		<string>E</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>400-886-1888</string>
				<key>number</key>
				<string>808446554948</string>
				<key>type</key>
				<string>FEDEXIN</string>
				<key>name</key>
				<string>FedEx国际</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-886-1888</string>
				<key>number</key>
				<string>120949498648</string>
				<key>type</key>
				<string>FEDEX</string>
				<key>name</key>
				<string>FedEx</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>0064-09-4432342</string>
				<key>number</key>
				<string>NZ1200523</string>
				<key>type</key>
				<string>FTD</string>
				<key>name</key>
				<string>富腾达</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>010-85826200</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>PHOENIXEXP</string>
				<key>name</key>
				<string>凤凰</string>
			</dict>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>4001-111-123</string>
				<key>number</key>
				<string>2734252672</string>
				<key>type</key>
				<string>GTO</string>
				<key>name</key>
				<string>国通</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-111-0005</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>GSD</string>
				<key>name</key>
				<string>共速达</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-6886-765</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>ND56</string>
				<key>name</key>
				<string>能达</string>
			</dict>
		</array>
		<key>title</key>
		<string>G</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>400-182-6666</string>
				<key>number</key>
				<string>HK2014103924</string>
				<key>type</key>
				<string>HENGLU</string>
				<key>name</key>
				<string>恒路</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>4009565656</string>
				<key>number</key>
				<string>210937745480</string>
				<key>type</key>
				<string>HTKY</string>
				<key>name</key>
				<string>汇通</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-626-2356</string>
				<key>number</key>
				<string>2734252672</string>
				<key>type</key>
				<string>HQKY</string>
				<key>name</key>
				<string>华企</string>
			</dict>
		</array>
		<key>title</key>
		<string>H</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>852-2410-3600</string>
				<key>number</key>
				<string>316B455817673</string>
				<key>type</key>
				<string>KERRY</string>
				<key>name</key>
				<string>嘉里物流</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-182-6666</string>
				<key>number</key>
				<string>12290972964</string>
				<key>type</key>
				<string>JD</string>
				<key>name</key>
				<string>京东</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-820-5566</string>
				<key>number</key>
				<string>018630030</string>
				<key>type</key>
				<string>JIAJI</string>
				<key>name</key>
				<string>佳吉</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>852-23329918</string>
				<key>number</key>
				<string>7102293245</string>
				<key>type</key>
				<string>KKE</string>
				<key>name</key>
				<string>京广</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-631-9999</string>
				<key>number</key>
				<string>HK2014103924</string>
				<key>type</key>
				<string>JIAYI</string>
				<key>name</key>
				<string>佳怡</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>0769-85515555</string>
				<key>number</key>
				<string>2197050107</string>
				<key>type</key>
				<string>TMS</string>
				<key>name</key>
				<string>加运美</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-694-1256</string>
				<key>number</key>
				<string>HK2014103924</string>
				<key>type</key>
				<string>JOUST</string>
				<key>name</key>
				<string>急先达</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>0769-88763939</string>
				<key>number</key>
				<string>HK2014103924</string>
				<key>type</key>
				<string>PEWKEE</string>
				<key>name</key>
				<string>晋越</string>
			</dict>
		</array>
		<key>title</key>
		<string>J</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>4008-098-098</string>
				<key>number</key>
				<string>2628904</string>
				<key>type</key>
				<string>KYEXPRESS</string>
				<key>name</key>
				<string>跨越</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>4008-333-666</string>
				<key>number</key>
				<string>536036627311</string>
				<key>type</key>
				<string>FASTEXPRESS</string>
				<key>name</key>
				<string>快捷</string>
			</dict>
		</array>
		<key>title</key>
		<string>K</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>021-59218889</string>
				<key>number</key>
				<string>688772531046</string>
				<key>type</key>
				<string>LBEX</string>
				<key>name</key>
				<string>龙邦</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-888-8887</string>
				<key>number</key>
				<string>696031204208</string>
				<key>type</key>
				<string>LTS</string>
				<key>name</key>
				<string>联昊通</string>
			</dict>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>4008-17-4008</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>CAE</string>
				<key>name</key>
				<string>民航</string>
			</dict>
		</array>
		<key>title</key>
		<string>M</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>010-65489928</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>PEISI</string>
				<key>name</key>
				<string>配思航宇</string>
			</dict>
		</array>
		<key>title</key>
		<string>P</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>4001-000-001</string>
				<key>number</key>
				<string>720133117282</string>
				<key>type</key>
				<string>QFKD</string>
				<key>name</key>
				<string>全峰</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>0769-82026703</string>
				<key>number</key>
				<string>2233244233</string>
				<key>type</key>
				<string>QCKD</string>
				<key>name</key>
				<string>全晨</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-663-1111</string>
				<key>number</key>
				<string>112276086230</string>
				<key>type</key>
				<string>APEX</string>
				<key>name</key>
				<string>全一</string>
			</dict>
		</array>
		<key>title</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>400-010-6660</string>
				<key>number</key>
				<string>116021415692008001</string>
				<key>type</key>
				<string>RFD</string>
				<key>name</key>
				<string>如风达</string>
			</dict>
		</array>
		<key>title</key>
		<string>R</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>95338</string>
				<key>number</key>
				<string>214446999990</string>
				<key>type</key>
				<string>SFEXPRESS</string>
				<key>name</key>
				<string>顺丰</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>95543</string>
				<key>number</key>
				<string>220661500727</string>
				<key>type</key>
				<string>STO</string>
				<key>name</key>
				<string>申通</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-158-9888</string>
				<key>number</key>
				<string>880166337508</string>
				<key>type</key>
				<string>SURE</string>
				<key>name</key>
				<string>速尔</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>4008-556688</string>
				<key>number</key>
				<string>32989393</string>
				<key>type</key>
				<string>SFWL</string>
				<key>name</key>
				<string>盛丰</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-822-2222</string>
				<key>number</key>
				<string>237669449</string>
				<key>type</key>
				<string>SHENGHUI</string>
				<key>name</key>
				<string>盛辉</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-881-8106</string>
				<key>number</key>
				<string>220661500727</string>
				<key>type</key>
				<string>SFC</string>
				<key>name</key>
				<string>三态</string>
			</dict>
		</array>
		<key>title</key>
		<string>S</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>4001-888-888</string>
				<key>number</key>
				<string>886375780398</string>
				<key>type</key>
				<string>TTKDEX</string>
				<key>name</key>
				<string>天天</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>800-820-9868</string>
				<key>number</key>
				<string>335939905</string>
				<key>type</key>
				<string>TNT</string>
				<key>name</key>
				<string>TNT</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-808-6666</string>
				<key>number</key>
				<string>067077577</string>
				<key>type</key>
				<string>HOAU</string>
				<key>name</key>
				<string>天地华宇</string>
			</dict>
		</array>
		<key>title</key>
		<string>T</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>400-820-8388</string>
				<key>number</key>
				<string>1ZV6509Y0468336755</string>
				<key>type</key>
				<string>UPS</string>
				<key>name</key>
				<string>UPS</string>
			</dict>
		</array>
		<key>title</key>
		<string>R</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>020-36680069</string>
				<key>number</key>
				<string></string>
				<key>type</key>
				<string>GZWENJIE</string>
				<key>name</key>
				<string>文捷航空</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>400-820-8088</string>
				<key>number</key>
				<string>2225195562855</string>
				<key>type</key>
				<string>EWINSHINE</string>
				<key>name</key>
				<string>万象</string>
			</dict>
		</array>
		<key>title</key>
		<string>W</string>
	</dict>
	<dict>
		<key>companies</key>
		<array>
			<dict>
				<key>tel</key>
				<string>4008-000-222</string>
				<key>number</key>
				<string>23600890</string>
				<key>type</key>
				<string>XBWL</string>
				<key>name</key>
				<string>新邦</string>
			</dict>
			<dict>
				<key>tel</key>
				<string>4008-306-333</string>
				<key>number</key>
				<string>137417768454</string>
				<key>type</key>
				<string>XFEXPRESS</string>
				<key>name</key>
				<string>信丰</string>
			</dict>
		</array>
		<key>title</key>
		<string>X</string>
	</dict>
</array>
</plist>
